.common {
   color: white ;
   font-weight: bold;
}

.modal-container {
	position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
	position: absolute;
}

.m20{
	margin: 20px
}
.textBox{
	width: 250px;
}
.title{
	font-weight: bold;
	font-style: italic;
	font-size: 20;
	font-family: fantasy;
}